@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* { 
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  height: 5rem;
  z-index: 100;
  position: relative;
}

.nav-logo img {
  width: 200px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.link a {
  position: relative;
  padding: 1rem;
  text-transform: uppercase;
}

.link a:hover {
  background-color: rgb(0, 110, 255);
  border-radius: 0.5rem;
  transition: 0.5s all ease;
  letter-spacing: 1px;
}

.btn {
  display: flex;
  padding: 1em 2em;
  font-size: 1em;
  background-color:  rgb(0, 110, 255);
  color: #fff;
  border-radius: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
}

.btn:hover {
  background-color: #fd0000;
  color: #fff;
  transition: 0.5s all ease;
}

.container {
  width: 1280px;
  max-width: 80%;
  margin: auto;
}

section .container {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  padding: 4rem 2rem;
}

section .content h4 {
  margin-bottom: 1rem;
  color: rgb(0, 110, 255);
  font-size: 1rem;
  font-weight: 600;
}

section .content h1 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
  line-height: 4rem;
}

section .content h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

section .content p {
  color: #ccc;
  margin-bottom: 2rem;
}

section .img {
  position: relative;
}

section .img img {
  max-width: 600px;
}

.copyright{
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}

@media (width < 960px){
  .nav-links{
      display: none;
  }
  section .container {
    grid-template-columns: repeat(1, 1fr);
  }
  section .img {
    grid-area: 1/1/2/2;
  }
}

/* Form arquivo css da pagina reserva */
.reserva {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

.reserva h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2rem;
}

.reserva form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  width: 500px;
  margin: 0 auto;
}

.reserva form input, 
.reserva form textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1.1rem;
}

.reserva button {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 110, 255);
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}